/*.asy
/*_errors.txt
!/asyerrorexample-*_errors.txt
/asypictureB-*.pdf
/asypictureB-*.png
*.aux
/asypictureB.glo
/asypictureB.hd
/asypictureB.idx
*.log
/asypictureB.out
/asypictureB.synctex.gz
/asypictureB.toc
/asypictureB-compile_asy.sh

# latexmk auxiliary files
/asypictureB.fdb_latexmk
/asypictureB.fls
/asypictureB.ilg
/asypictureB.ind

/build
